<VirtualHost *:{{ vhost_port }}>
    ServerAdmin		webmaster@{{ ansible_fqdn }}
    DocumentRoot	{{ vhost_dir }}/{{ ansible_fqdn }}
    ServerName		{{ ansible_fqdn }}
    ServerAlias		{{ ansible_hostname }}
    ErrorLog		/var/log/httpd/{{ ansible_fqdn }}-error_log
    CustomLog		"/var/log/httpd/{{ ansible_fqdn }}-access_log" combine
       <Directory {{ vhost_dir }}/{{ ansible_fqdn }}/>
           Require all granted
       </Directory>
</VirtualHost>

