<!DOCTYPE html>
<html>
<body>

<center>

<br><i>Hello!! </i><br>
<br>This is <b>{{ vhost_name }}.{{ vhost_domain }}:{{ vhost_port }}</b> web server<br>
<br>
<br>
<br>
<small>
Root directory <b>{{ vhost_dir }}</b>
</small>
<br>
<br>
<br>
<br>
<br>
<small>
Created using Ansble Roles
<br>
<br>
<u>copyrights@abdusamy</u>
</small>
</center>

</body>
</html>
