<VirtualHost *:{{ vhost_port }}>
    ServerAdmin		webmaster@{{ vhost_name }}.{{ vhost_domain }}
    DocumentRoot	{{ vhost_dir }}/{{ vhost_name }}.{{ vhost_domain }}/
    ServerName		{{ vhost_name }}.{{ vhost_domain }}
    ServerAlias		{{ vhost_name }}
    ErrorLog		/var/log/httpd/{{ vhost_name }}.{{ vhost_domain }}-error_log
    CustomLog		/var/log/httpd/{{ vhost_name }}.{{ vhost_domain }}-access_log combine
       <Directory {{ vhost_dir }}/{{ vhost_name }}.{{ vhost_domain }}/>
           Require all granted
       </Directory>
</VirtualHost>

