<!DOCTYPE html>
<html>
<body>

<center>

<br><i>Hello!! </i><br>
<br>This is <b>{{ ansible_fqdn }}:{{ vhost_port }}</b> web server<br>
<br>
<br>
<br>
<small>
Deployed in directory {{ vhost_dir }}
</small>
<br>
<br>
<br>
<br>
<br>
<small>
Created using Ansble Roles
<br>
<br>
<u>copyrights@abdusamy</u>
</small>
</center>

</body>
</html>
